{% extends 'base.html' %} {% block body %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark  bg-bcca-color">
    <span class="text-white bg-bcca-color">Base Camp Job Landing Page</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'jobs' %}"><span class="text-bcca">Employee</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'admin' %}"><span class="text-bcca">Employer</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'students' %}"><span class="text-bcca">Student
                            Portfolio's</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="headerBkgImg" class="fill">
    <span class="center-spacer"></span>
    <img id="headerImg" src="/static/images/header-logo.png" />
</div>
<div class="container">

    <div class="card my-5">
        <div class="card-header">
            <h1 class="text-dark text-center">About</h1>
        </div>
        <div class="card-body">
            <p class="text-center">
                Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a
                hands-on, challenging and fun program, designed to train students to be
                software developers in 12 months. In a small classroom setting, you will
                work with real world technologies to learn the fundamentals of coding,
                app development and the life leadership skills you will need to be
                successful in your career and competitive in the job market. For future hiring oppertunities, go look
                at
                the <span><a href="{% url 'students' %}">student's portfolios</a></span>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="container my-4">
        <img class="col-sm-6 col-md-12 col-lg-12" src="/static/images/bcca-landing.jpg" alt="img">
    </div>
</div>
<div id="jobBox" class="container mb-3">
    <div class="container attention card mr-3 mb-3">
        <div class="card-body">
            <div class="mb-4">
                <h3 class="text-center">Want to check out avalible jobs?</h3>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'jobs' %}" type="button" class="btn btn-success">Click Here</a>
            </div>
        </div>
    </div>
    <div class="container attention card mb-3">
        <div class="card-body">
            <div class="mb-4">
                <h3 class="text-center">Want to add a new job?</h3>
            </div>

            <div class="d-flex justify-content-center">
                <a href="{% url 'admin' %}" type="button" class="btn btn-success">Add job</a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}