{% extends 'base.html' %} {% block body %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark  bg-bcca-color">
    <span class="text-white bg-bcca-color">Base Camp Coding Academy</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'new-post' %}"><span class="text-bcca">Apply</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'jobs' %}"><span class="text-bcca">Jobs</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bcca" href="{% url 'admin' %}"><span class="text-bcca">Admin</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link text-bcca" href="{% url 'students' %}"><span class="text-bcca">Student Portfolio's</span></a>
                    </li>
            </ul>
        </div>
    </div>
</nav>
<div id="headerBkgImg" class="fill">
    <span class="center-spacer"></span>
    <img id="headerImg" src="/static/images/header-logo.png">
</div>
{% endblock body %}